---
layout: default
---

{% if page.category == 'all' %}
{% assign posts = site.posts %}
{% else %}
{% assign posts = site.posts | where_exp: "item", "item.categories contains  page.category" %}
{% endif %}
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | capitalize }}</h1>
  </header>

  <div class="post-content">
        <div class = "columns">
            <div class = "column is-6 is-pulled-left padded is-hidden-mobile">
                <h1 class="thick-text">{{ posts.first.title }}</h1>
                <h3><i>given by</i> {{ posts.first.author }} </h3>
                <br>
                {{ posts.first.content }}
            </div>
            <div class = "column"></div>
            <div class = "column is-5 padded">
                <div class="columns">
                    <div class="column">
                        <h1 class="thick-text">Past talks</h1>
                    </div>
                    <div class="column is-2" style="display:flex">
                        <div class="has-text-centered" style="width:100%; align-self:center">
                            <p><a id="continuelink" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>
                        </div>
                    </div>
                </div>
                <div class = "scrollable-parent">
                    <div class = "scrollable-child">
                        <ul style="padding-bottom: 50px; margin-bottom: 50px;">
                            {% for post in posts %}
                            <li>
                                <h2><a href="{{ post.url | prepend: site.baseurl }}">
                                    {% if post.video %}
                                        <i class='fa fa-video-camera' aria-hidden='true' style='font-size: 0.8em !important;'></i> 
                                    {% endif %}
                                    {{ post.title }}</a></h2>
                                <h4 style="display: inline-block;"><i>{{ post.author}}</i></h4>
                                <small>
                                    <p style="display: inline-block;">&nbsp;|&nbsp;{{ post.date | date: "%b %-d, %Y" }}</p>
                                </small>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class = "gradient-fade"></div>
            </div>
        </div>
  </div>

</article>
